h1{
  color: black;
  background-color: petrol;
}

#fett{
  font-weight: bold;
}

.red{
  color: red;
}

a:hover{
  color: rgb(124,252,000);
}

body{
  background-color: beige;
}

html{
  backround: blue;
  font-family: calibri;
}
